.DS_Store
DONOTSHIP
copy_to_install.bat
copy_patch_to_install.bat

BetterGH3/ship/DATA/*.pa*.xen
BetterGH3/ship/DATA/PAK/*.pa*.xen
patch.pak.*
default_vanilla.xex
default_debug_noviewer.xex

*.zip

xenon-decensor